absl-py==1.0.0
acme==0.31.0
aiohttp==3.6.2
aiohttp-cors==0.7.0
aioredis==1.3.1
akro==0.0.8
ansicolors==1.1.8
antlr4-python3-runtime==4.8
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atari-py==0.1.7
attrs==19.3.0
autobahn==21.2.1
autopep8==1.5.7
backcall==0.2.0
black==19.10b0
blessings==1.7
box2d-py==2.3.8
cached-property==1.5.2
cachetools==4.1.1
catkin-pkg==0.4.23
catkin-tools==0.6.1
certbot==0.27.0
certifi==2018.1.18
chardet==3.0.4
cloudpickle==1.3.0
cma==2.7.0
colorful==0.5.4
command-not-found==0.3
ConfigArgParse==0.11.0
configobj==5.0.6
contextualbandits==0.3.17.post1
contextvars==2.4
crcmod==1.7
cryptography==3.4.7
Cython==0.26.1
dataclasses==0.8
decorator==5.1.1
deep-rl==1.5
dill==0.2.9
distro==1.5.0
distro-info===0.18ubuntu0.18.04.1
dm-control==0.0.364896371
dm-control2gym==0.0.4
dm-env==1.2
dm-tree==0.1.5
dmc2gym==1.0.0
dnnlib==0.0.1
dowel==0.0.3
fail2ban==0.10.2
fasteners==0.15
Flask==1.0.2
flatbuffers==1.12
flow==0.0.1
future==0.17.1
futures==3.1.1
gast==0.2.2
glfw==2.1.0
google==3.0.0
google-api-core==1.22.1
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
graphviz==0.13
grpcio==1.31.0
gtimer==1.0.0b5
gym==0.19.0
h5py==2.7.0
hiredis==1.1.0
httplib2==0.9.2
hydra-core==0.11.3
hyperlink==21.0.0
hypothesis==5.14.0
idna==2.8
idna-ssl==1.1.0
imageio-ffmpeg==0.4.3
immutables==0.14
importlib-resources==3.0.0
iniconfig==1.1.1
iotop==0.6
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
istype==0.2.0
jax==0.1.64
jax-fixedpoint==0.0.4
jaxlib==0.1.45
jedi==0.17.2
joblib==0.17.0
josepy==1.1.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyter-http-over-ws==0.0.8
jupyterlab-pygments==0.1.2
keyring==10.6.0
keyrings.alt==3.0
labmaze==1.0.3
language-selector==0.1
latplan==0.0.1
lockfile==0.12.2
lz4==3.1.0
Mako==1.1.3
Markdown==3.2.2
matplotlib==2.0.2
memory-profiler==0.55.0
metaworld==0.0.0
mock==3.0.5
monotonic==1.5
moviepy==1.0.3
msgpack==1.0.0
mujoco-py==2.0.2.10
multidict==4.7.6
mypy-extensions==0.4.3
nbclient==0.5.1
nbformat==5.0.8
nest-asyncio==1.4.1
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
objgraph==3.4.1
olefile==0.45.1
omegaconf==1.4.1
opencensus==0.7.10
opencensus-context==0.1.1
opencv-python==4.0.0.21
opencv-python-headless==4.3.0.36
openslide-python==1.1.1
opt-einsum==3.1.0
ordered-set==4.0.2
orderedset==2.0.3
osrf-pycommon==0.1.9
pandas==1.1.5
parsedatetime==2.4
parso==0.7.1
pathlib==1.0.1
pathspec==0.8.1
pbr==3.1.1
pddlgym==0.0.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
plotly==3.4.2
pluggy==0.6.0
proglog==0.1.9
progressbar2==3.39.3
prompt-toolkit==3.0.29
protobuf==3.19.4
ptyprocess==0.7.0
py==1.9.0
py-spy==0.3.3
pybullet==3.1.2
pycodestyle==2.7.0
pycrypto==2.6.1
pycurl==7.43.0.1
pygame==1.9.6
pyglet==1.5.0
Pygments==2.11.2
pygobject==3.26.1
PyHamcrest==2.0.2
pyinotify==0.9.6
Pympler==0.7
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyOpenSSL==17.5.0
pyparsing==3.0.8
pyRFC3339==1.0
pyrsistent==0.17.3
pytest==6.1.2
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.8.2
python-debian==0.1.32
python-utils==2.3.0
pytz==2018.3
pyxdg==0.25
PyYAML==5.3.1
pyzmq==22.3.0
ray==0.8.6
recordtype==1.3
redis==3.4.1
regex==2020.11.13
requests==2.21.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
retrying==1.3.3
roboschool==1.0.49
robosuite==0.3.0
rosdep==0.20.1
rosdistro==0.8.3
rosinstall==0.7.8
rosinstall-generator==0.1.22
roslibpy==1.2.0
rospkg==1.3.0
rsa==4.6
scikit-image==0.14.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.4.1
SecretStorage==2.3.1
setproctitle==1.1.10
six==1.15.0
speedtest-cli==2.0.0
spriteworld==1.0.2
ssh-import-id==5.7
systemd-python==234
tabulate==0.8.7
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-probability==0.11.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
timeout-decorator==0.5.0
toml==0.10.2
torch==1.5.1
torch-ac==1.1.0
torchmeta==1.6.1
torchvision==0.6.1
tornado==6.1
traitlets==4.3.3
trollius==2.1.post2
txaio==21.2.1
typed-ast==1.4.2
typeguard==2.12.0
typing-extensions==3.7.4.2
typing-inspect==0.5.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.2
vcstools==0.1.42
virtualenv==15.1.0
wcwidth==0.2.5
Werkzeug==2.0.3
wstool==0.1.17
xmltodict==0.12.0
yarl==1.5.1
zipp==3.3.0
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
